/*Danielle Oden*/
h1{color:#FF0000; font-family:"Comic Sans MS", cursive, sans-serif; font-size:60px }
body{color:#FFA500; background-color: #FFFF00; font-size: 40px; font-family:"Comic Sans MS", cursive, sans-serif;}
p{color:#FF1493; font-family:"Comic Sans MS", cursive, sans-serif; font-size:30px}
