/*Danielle Oden*/
h1{color:#FF0000; font-family:"Comic Sans MS", cursive, sans-serif; font-size:60px }
body{background-color: #FFA500;}
p{color:#FF1493; font-family:"Comic Sans MS", cursive, sans-serif; font-size:30px}
